/*Navigation Bar Styling */
nav{
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
nav ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
nav ul li{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

nav ul li button{
  display: flex;
  align-items: center;
  border-radius:15px;
}


